[Unit]
Description=Redshift night timer

[Timer]
OnCalendar=*-*-* 19:00:00
Unit=redshift-on.service
Persistent=true

[Install]
WantedBy=timers.target

